<h1>Welcome <%= current_user.email %></h1>

<div class="container">

  <div class="col-sm-3">
        <%= form_for @income,  :url =>  transaction_index_path, :html => {:method => :post}  do |f| %>
        #date
        #amount
        #source dropdown
        #note<br />
        <%= f.label :date %>
        <%= f.date_field :date %><br />
        <%= f.text_field :amount %><br />
        <%= f.text_field :income_source %><br />
        <%= f.text_field :note %><br />

        <%= f.submit 'Submit' %>
      <% end %>

  </div>

  <div class="col-sm-3">
      <%= form_for @outgo,  :url =>  transaction_index_path, :html => {:method => :post}  do |f| %>

        <%= f.submit 'Submit' %>
      <% end %>
  </div>
</div>




Add a transaction<br />
2 sides:<br />
INCOME<br />
  select date<br />
  add amount<br />
  drop-down select source<br />
<br />
OUTGO<br />
  select date<br />
  enter amount<br />
  enter location<br />
  drop-down/type in category<br />
<br />
on right side: <br />
