<h1>Welcome <%= current_user.name %></h1>

<div class="container">

  <div class="col-sm-3 input_form">
    <p>
      Record an Income:
    </p>


      <%= form_for @income,  :url =>  income_index_path, :html => {:method => :post}  do |f| %>
          <%= f.label :date %>
          <%= f.date_field :date %><br />
          <%= f.label :amount %>
          <%= f.text_field :amount, placeholder: 'xx.xx' %><br />
          <%= f.label :income_source, value: "Select a source" %>
          <%= f.text_field :income_source_id, list: "income_source_autocomplete" %>
          <datalist id="income_source_autocomplete">
            <% IncomeSource.all.each do |source| %>
              <option value="<%= source.name %>">
            <% end %>
          </datalist>
          <%= f.fields_for :transaction do |transaction_form| %>
              <%= transaction_form.label :note %>
              <%= transaction_form.text_field :note, placeholder: 'optional' %>
          <% end %>
          <%= f.submit 'Submit' %>
      <% end %>
  </div>

  <div class="col-sm-2 transaction_list">
    show last 5 transactions

    <%=  %>
  </div>


  <div class="col-sm-3 input_form">
    <p>
      Record an Outgo:
    </p>
      <%= form_for @outgo,  :url =>  outgo_index_path, :html => {:method => :post}  do |f| %>
      <%= f.label :date %>
      <%= f.date_field :date %><br />
      <%= f.label :amount %>
      <%= f.text_field :amount, placeholder: 'xx.xx'%><br />
      <%= f.label :recipient %>
      <%= f.text_field :recipient %><br />
      <%= f.label :subcategory , value: "Select a category"%>
      <%= f.collection_select(:sub_category_id, SubCategory.all.order(:name), :id, :name) %>, or <br />
      <%= f.label :subcategory, value: "Record a new category" %><br />
      <%= f.text_field :sub_category_id, placeholder: 'new category' %><br />
      <%= f.fields_for :transaction do |transaction_form| %>
          <%= transaction_form.label :note %>
          <%= transaction_form.text_field :note, placeholder: 'optional' %>
      <% end %>

        <%= f.submit 'Submit' %>
    <% end %>
  </div>
</div>
