<h1>Welcome <%= current_user.name %></h1>

<div class="container">

  <div class="col-sm-3 input_form">
    <p>
      Record an Income:
    </p>

    <%= form_for @income,  :url =>  transaction_index_path, :html => {:method => :post}  do |f| %>

        <%= f.label :date %>
        <%= f.date_field :date %><br />
        <%= f.label :amount %>
        <%= f.text_field :amount, placeholder: 'xx.xx' %><br />
        <%= f.label :income_source %>
        <%= f.collection_select(:income_source_id, IncomeSource.all.order(:name), :id, :name) %><br />
        <%= f.fields_for :transaction do |transaction_form| %>
            <%= transaction_form.label :note %>
            <%= transaction_form.text_field :note, placeholder: 'optional' %>
        <% end %>
        <%= f.submit 'Submit' %>
      <% end %>

  </div>

  <div class="col-sm-3 input_form">
    <p>
      Record an Outgo:
    </p>
      <%= form_for @outgo,  :url =>  transaction_index_path, :html => {:method => :post}  do |f| %>
      <%= f.label :date %>
      <%= f.date_field :date %><br />
      <%= f.label :amount %>
      <%= f.text_field :amount, placeholder: 'xx.xx'%><br />
      <%= f.label :recipient %>
      <%= f.text_field :recipient %><br />
      <%= f.label :subcategory %>
      <%= f.collection_select(:sub_category_id, SubCategory.all.order(:name), :id, :name) %><br />
      <%= f.fields_for :transaction do |transaction_form| %>
          <%= transaction_form.label :note %>
          <%= transaction_form.text_field :note, placeholder: 'optional' %>
      <% end %>

        <%= f.submit 'Submit' %>
    <% end %>
  </div>
</div>

<h2>Need to set up your income sources and spending categories? </h2>
  <h2>Start here:</h2>


Create Sub Categories <br />
Create Income Sources
button_to(name = nil, options = nil, html_options = nil, &block)

<%= button_to(name="Record Income Sources", new_income_source_path) %>

<%= button_to(name="Create New Spending Category", new_subcategory_path) %>
