<h1>Welcome <%= current_user.name %></h1>

<div class="container">

  <div class="col-sm-3 input_form">
    <p>
      Record a Transaction:
    </p>

    <%= form_for @transaction,  :url =>  transaction_index_path, :html => {:method => :post}  do |f| %>

        <%= f.label :date %>
        <%= f.date_field :date %><br />

        <%= f.label :amount %>
        <%= f.text_field :amount, placeholder: 'xx.xx' %><br />

        <%= f.fields_for :sub_category do |cat| %>
        <%= cat.label :sub_category, value: "Enter or select a category" %>
        <%= cat.text_field :sub_category, list: "sub_category_autocomplete" %>
        <datalist id="sub_category_autocomplete">
          <% SubCategory.all.distinct.each do |category| %>
            <option value="<%= category.name %>">
          <% end %>
        <% end %>
        </datalist>

        <div class="either-or">
            <%= f.label :recipient, "If expense:" %>
            <%= f.text_field :recipient, placeholder: 'i.e. store' %><br />

            <%= f.label :income_source, value: "If INCOME, select source:" %>
            <%= f.text_field :income_source, list: "income_source_autocomplete", placeholder: 'i.e. employer' %>
            <datalist id="income_source_autocomplete">
              <% IncomeSource.all.distinct.each do |source| %>
                <option value="<%= source.name %>">
              <% end %>
            </datalist><br />
          </div>

        <%= f.label :notes %>
        <%= f.text_field :notes, placeholder: 'optional' %><br />

        <%= f.submit 'Submit' %>
    <% end %>
  </div>

  <div class="col-sm-2 transaction_list">
    show last 5 transactions


  </div>


</div>
