<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to "Budget Tracker", '/', id: "logo" %>
      <nav>
        <ul class="navbar-text pull-right">

          <% if user_signed_in? %>
            Logged in as <strong><%= current_user.email %></strong>.
            <%=link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
           <% else %>
            <li><%= link_to "Log in", new_user_session_path, :class => 'navbar-link'%></li>
            <li><%= link_to "Sign up", user_session_path, :class => 'navbar-link' %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>
